body
{
background-image: url("../images/Matrix.gif");
background-color: black; 
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

header{
    color: azure;
    text-align: center;
    background-color: black;
}

.subheader{
    background-color: #fff;
    text-align: center;
    width: 100%;

}

#yourguess{
    font-size: 16px;
    background-color: red;
    color: white;
    font-weight: bold;
}

#wins{
    font-size: 28px;
    font-weight: bold;
}

#losses{
    font-size: 28px;
    font-weight: bold;
}

#guessLeft{
font-size: 28px;
font-weight: bold;
}